<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>All employees</title>
</head>
<body>
<h2>Employee</h2>
<table>
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Salary</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="emp : ${allEmp}">
        <td th:text="${emp.firstName}"></td>
        <td th:text="${emp.lastName}"></td>
        <td th:text="${emp.salary}"></td>
        <td><a th:href="@{employee-update/{id}(id=${emp.id})}">Update</a>
            <a th:href="@{employee-delete/{id}(id=${emp.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</div>
<p><a href="/employee-save">Create employee</a></p>
</div>
</body>
</html>