<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>All users</title>
</head>
<body>
<h2>Users</h2>
<table>
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Salary</th>
        <th>Operations</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUser}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.salary}"></td>
        <td><a th:href="@{user-update/{id}(id=${user.id})}">
            <input type="submit" value="Update"/>
        </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{user-delete/{id}(id=${user.getId()})}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>
<a th:href="@{/user-save}">
    <input type="submit" value="Create user"/>
</a>
</div>
</body>
</html>